In [ ]:
#list

In [ ]:
#from the list of   10 students print  name of those students  whose name start with  'a' or 'A'.

In [13]:
x = ["awan","manoj","aditya","sanjeev","laxman","sakar","ayush","Ayush","Anish","amrit"]
for i in x :
    if (i[0]=='a' or i[0]=='A'):
     print(i)

awan
aditya
ayush
Ayush
Anish
amrit

In [ ]:
#from the list of   10 students print  name of those students  whose name ends with  'a' or 'A'.

In [19]:
x = ["awan","manoj","aditya","sanjeev","laxman","sakar","Aayusha","Ayush","Anisha","amrit"]
for i in x :
    if (i[-1]=='a' or i[-1]=='A'):
        print(i)

aditya
Aayusha
Anisha

In [ ]:
#from a list of 10 students remove the name of those students whose name stars and ends with 'A' or 'a'.

In [80]:
x = ['manoj','sakar','Aditya','Ayusha','Anushka', 'laxman','sanjeev','Awan']
x.sort()
for i in x :
    if (i[0]=='A'  and  i[-1]=='a'):
        
     x.remove(i)
print(x)

['Anushka', 'Awan', 'laxman', 'manoj', 'sakar', 'sanjeev']

In [63]:
#shorting

In [60]:
x=['awan','manoj','sakar','laxman','chandra','dipesh','rohan']
x.sort()
print(x)

x.sort(reverse=True)
print(x)

['awan', 'chandra', 'dipesh', 'laxman', 'manoj', 'rohan', 'sakar']
['sakar', 'rohan', 'manoj', 'laxman', 'dipesh', 'chandra', 'awan']

In [ ]:



#tuple


tuple ra list same ho .list ma modify garna milxa  bhney tuple ma edit/del khi mildoina.

In [66]:
x=('ram','hari','gita','sita')
type(x)

tuple

In [67]:
x = ("awan","manoj","aditya","sanjeev","laxman","sakar","Aayusha","Ayush","Anisha","amrit")
print(len(x))

10

In [68]:
x =(1)
print(type(x))    # tuple huna lai more then 2 values or data hunu paryo if tuple banaunu cha bhney ( ,) used garda euta element ley ni tuple banxa.

<class 'int'>

In [ ]:


 days 4 
#function

In [77]:
def add():
    c= 4 
    d= 5
    return c+d
output = add()



#write  a program  find the sum of two numbers using functions.

In [22]:
def add(a,b):
    c = a+b
    return c 
a = int(input("enter 1st number"))
b = int(input("enter 2nd number,.."))
print(add(a,b))

enter 1st number 5
enter 2nd number 5

10

In [ ]:

#ask two number from user  and ask whether to add or subtract using function
def add(a, b):

In [45]:
a = int(input("enter 1st number"))
b = int(input("enter  2nd number"))
operation = input("enter the choice 1.add 2.sub 3.mul 4.div")
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
   return  a*b
def div(a,b):
    return a/b

if operation== '1':
    print(add(a,b))
elif operation == '2':
    print(sub(a,b))
elif(operation =='3'):
    print(mul(a,b))
elif(operation =='4'):
    print(div(a,b))
else:
    print("wrong operation")

enter 1st number 8
enter  2nd number 4
enter the choice 1.add 2.sub 3.mul 4.div 4

2.0

In [ ]:
# argunents

In [ ]:
write a program to add 4 numbers enter the users using arbitriy arguments.

In [53]:
def add(*args):
    return args[0]+args[1] + args[2] +args[3]
a = int(input("enter 1st number"))
b = int(input("enter 2nd number"))
c = int(input("enter 3rd number"))
d = int(input("enter 4th number"))
print(add(a,b,c,d))

enter 1st number 2
enter 2nd number 5
enter 3rd number 6
enter 4th number 4

17

In [ ]:



##write a program to ask user 4 numbers using same functions

In [63]:
def sum(*args):
    return sum (args)
a = int(input("enter 1st number"))
b = int(input("enter 2nd number"))
c = int(input("enter 3rd number"))
d = int(input("enter 4th number"))
print(sum(a,b,c,d))

enter 1st number 1
enter 2nd number 1
enter 3rd number 1
enter 4th number 1

RecursionError: maximum recursion depth exceeded

In [64]:
#  @Ber-lin
a = int(input())
b = int(input())
c = int(input())
d = int(input())

def sum(*args):
    sum = 0
    for i in args:
        sum = sum+i
    return sum
print(sum(a,b))
print(sum(a,b,c))
print(sum(a,b,c,d))

 4
 5
 5
 4

9
14
18