In [ ]:
# list

In [25]:
x = ["hari" , "krishna", "gopal", 5,6,7,8.5,2.0]
type(x)   
print(x[0])
print(x[5])
print(x[1:5])  #slising
print(x[:5])
print(x[1:])
print(x[:])
print(len(x))  #length

hari
7
['krishna', 'gopal', 5, 6]
['hari', 'krishna', 'gopal', 5, 6]
['krishna', 'gopal', 5, 6, 7, 8.5, 2.0]
['hari', 'krishna', 'gopal', 5, 6, 7, 8.5, 2.0]
8

In [ ]:
# create a list containig name of 10 students now print the name of last 3 students.

In [24]:
list=["aditya","abhiyan","laxman","sweekar","ayush","sakar","indra","awan","manoj","sanjeev"]
print(list[-3:])       #negative indexing ...
print(list[-6:-2])

['awan', 'manoj', 'sanjeev']
['ayush', 'sakar', 'indra', 'awan']

In [ ]:
#add or change item in list 
#create a list that contains name of  10 students . you found out that the name of these second last student e=was enter incorrect it is your job to correct it .

In [82]:
A=["aditya","abhiyan","laxman","sweekar","ayush","sakar","indra","awan","manoj","sanjeev"]
A[-2]= "mahesh"
print(A)

print(type(A))
A.append("ayushnepal")
print(A)

['aditya', 'abhiyan', 'laxman', 'sweekar', 'ayush', 'sakar', 'indra', 'awan', 'mahesh', 'sanjeev']
<class 'list'>
['aditya', 'abhiyan', 'laxman', 'sweekar', 'ayush', 'sakar', 'indra', 'awan', 'mahesh', 'sanjeev', 'ayushnepal']

In [53]:
z = [1,3,5,7,9]
for i in z :
    print(i)

1
3
5
7
9

In [ ]:
# write a program to ask name of five stidents and store it in a list.

In [73]:
students =[]
for i in range (5):
    name =input("enter name of student")
    students.append(name)   #.append ley list ko last ma thapdai janxa 

print(students)

enter name of student sita
enter name of student gita
enter name of student rita
enter name of student mita
enter name of student quita

['sita', 'gita', 'rita', 'mita', 'quita']

In [78]:
q=["a","b","c","d","e"]
q.extend(["f","G","h"])   #entend ley 2 or more then 2   data lai last ma thapdai janxa 
print(q)

q.insert(4,"k")    #insert ley jun position ma new value chiyeko xa tesma add garxa
print(q)

del(q[2])     # 2nd position ma bhayeko element del garxa 
print(q)

del(q[0:2])    #right dekhi deyeko range ko element del garxa eg:0:2 ma suru ma aauney 3 ota element del gardieyeko cha.
print(q)

['a', 'b', 'c', 'd', 'e', 'f', 'G', 'h']
['a', 'b', 'c', 'd', 'k', 'e', 'f', 'G', 'h']
['a', 'b', 'd', 'k', 'e', 'f', 'G', 'h']
['d', 'k', 'e', 'f', 'G', 'h']